<h3>Informe o problema</h3>
<form
  clrForm
  *ngIf="grupoControles"
  [formGroup]="grupoControles"
  (ngSubmit)="registrarNovoProblema()"
>
  <clr-input-container>
    <label for="título">Título</label>
    <input clrInput formControlName="tituloProblema" />
    <clr-control-error
      >É preciso informar o título do problema</clr-control-error
    >
  </clr-input-container>

  <clr-textarea-container>
    <label for="descrição">Descrição</label>
    <textarea clrTextarea formControlName="descricaoProblema"></textarea>
  </clr-textarea-container>

  <div class="clr-row" *ngIf="sugestoes.length">
    <div class="clr-col-lg-2"></div>
    <div class="clr-col-lg-6">
      <clr-stack-view>
        <clr-stack-header> Problemas similares </clr-stack-header>
        <clr-stack-block *ngFor="let sugestao of sugestoes">
          <clr-stack-label
            >#{{ sugestao.idProblema }}:{{
              sugestao.tituloProblema
            }}</clr-stack-label
          >
          <clr-stack-content>{{
            sugestao.descricaoProblema
          }}</clr-stack-content>
        </clr-stack-block>
      </clr-stack-view>
    </div>
  </div>

  <clr-radio-container clrInline>
    <label for="prioridade">Prioridade</label>
    <clr-radio-wrapper>
      <input
        type="radio"
        value="baixa"
        clrRadio
        formControlName="prioridadeProblema"
      />
      <label>Baixa</label>
    </clr-radio-wrapper>
    <clr-radio-wrapper>
      <input
        type="radio"
        value="alta"
        clrRadio
        formControlName="prioridadeProblema"
      />
      <label>Alta</label>
    </clr-radio-wrapper>
    <clr-control-error
      >É preciso informar a prioridade do problema</clr-control-error
    >
  </clr-radio-container>

  <clr-select-container>
    <label>Tipo</label>
    <select clrSelect formControlName="tipoProblema">
      <option value="Recurso">Recurso</option>
      <option value="Erro">Erro</option>
      <option value="Documentação">Documentação</option>
    </select>
    <clr-control-error>É preciso informar o tipo do problema</clr-control-error>
  </clr-select-container>

  <button class="btn btn-primary" type="submit">Criar</button>
  <button class="btn" type="button" (click)="fechamentoFormulario.emit()">
    Cancelar
  </button>
</form>
